<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest">
  <Identity Name="38847Gardax.ExpressionsCalculatorBeta" Version="0.5.0.0" Publisher="CN=3806E226-AFF5-4D10-BFE0-10560308432E" />
  <Properties>
    <DisplayName>Expressions Calculator Beta</DisplayName>
    <PublisherDisplayName>Gardax</PublisherDisplayName>
    <Logo>images\storelogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.2.1</OSMinVersion>
    <OSMaxVersionTested>6.2.1</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" StartPage="default.html">
      <VisualElements DisplayName="Expressions Calculator Beta" Logo="images\logo.png" SmallLogo="images\smalllogo.png" Description="ExpressionsCalculator" ForegroundText="light" BackgroundColor="#464646">
        <DefaultTile ShowName="allLogos" />
        <SplashScreen Image="images\splashscreen.png" />
      </VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>